{% extends 'base.html' %}
{% load static %}

    {% block title %}
        {{ post.title_tag }}
    {% endblock %}


{% block content %}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <br>
            <h2>
                User Profile
            </h2><br>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-sm-12">
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-3">
                    {% if page_user.profile_pic %}
                        <img class="img-fluid" src="{{ page_user.profile_pic.url }}" width="400px">
                    {% else %}
                        <img class="img-fluid" src="{% static 'blog/images/perfil_defecto.png' %}">
                    {% endif %}
                </div>
                <div class="col-md-9">
                  <div class="card-body">
                    <h4 class="card-title">{{ page_user.user.first_name }} {{ page_user.user.last_name }}
                        {% if user.is_authenticated %}
                            <small style="font-size: medium"> - <a href="{% url 'edit_profile' %}">(edit)</a></small>
                        {% endif %}<br>
                    </h4>

                    <p class="card-text">{{ page_user.bio }}</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}