body{
    font-family: 'Merienda', cursive;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHyEqfIJ3CPXBByhj8IBiG5jHx6GlGHpd196iQBFacJQwGNUTXWrm34_2o6_Ih5CwvCwY&usqp=CAU");
    background-color: rgba(238, 238, 238, 0.3);
}
