{% extends 'base.html' %}


{% block title %} Create a New Blog Category {% endblock %}
{% block content %}

{% if user.is_authenticated %}
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-8">
                <h1>
                    Add a Post
                </h1><br>
                <div class="form-group">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.media }}
                        {{ form.as_p }}
                        <button class="btn btn-primary">Post</button>
                    </form>
                </div>
                <br>
            </div>
        </div>
    </div>
<!--Author Field Hidden-->
<script>
    var name = "{{ user.id }}";
    document.getElementById("elder").value = name;
</script>
{% else %}
Please Login
{% endif %}

{% endblock %}



