{% extends 'base.html' %}


{% block title %} Create a New Blog Post! {% endblock %}
{% block content %}

<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-4">
            <h1>
                Add a Post
            </h1><br>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary">Post</button>
            </form>
            <br>
        </div>
    </div>
</div>


{% endblock %}



