{% extends 'base.html' %}


{% block title %} Add a Comment On a Blog Post {% endblock %}
{% block content %}

<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <h1>
                Add a Comment
            </h1><br>
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary">Post</button>
                </form>
            </div>
            <br>
        </div>
    </div>
</div>

{% endblock %}



