{% extends 'base.html' %}

    {% block title %}
        {{ post.title_tag }}
    {% endblock %}


{% block content %}

<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-10">
            <h1>
                {{ post.title }}
            </h1><br>
            <small>
                By: <b><i>{{ post.author.first_name }}
                {{ post.author.last_name }} </i></b>
                 - {{ post.post_date }}
                {% if user.is_authenticated %}
                    {% if user.id == post.author.id %}
                    <small><a href="{% url 'update_post' post.pk %}">(edit)</a></small>
                    <small><a href="{% url 'delete_post' post.pk %}">(delete)</a></small>
                    {% endif %}
                {% endif %}
            </small>
            <hr>
            <br>
            {{ post.body|safe }}
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-2">
            <br>
            <a href="{% url 'home' %}" style="align-content: end"><button type="button" class="btn btn-success">Back</button></a>
        </div>
        <div class="col-sm-7">
        </div>
        <div class="col-sm-1">
            <br>
            <form action="{% url 'like_post' post.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit", name="post_id", value="{{post.id}}" class="btn btn-outline-info btn-sm">Like</button>
            </form>
        </div>
        <div class="col-sm-1">
        </div>
    </div>
    <div class="row row justify-content-center">
        <div class="col-sm-10">
            <br>
            <hr>
        </div>
    </div>
</div>

{% endblock %}