{% extends 'base.html' %}



{% block content %}

<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-10">
            <h1>
                My Blog!
            </h1><br>
            <ul>
            {% for post in object_list %}
                <li>
                    <a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a>
                    - <i>{{ post.author.first_name }} {{ post.author.last_name }}</i>
                    - {{ post.post_date }}
                    - <a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a>

                    {% if user.is_authenticated %}
                        {% if user.id == post.author.id %}
                        -
                        <small><a href="{% url 'update_post' post.pk %}">(edit)</a></small>
                        <small><a href="{% url 'delete_post' post.pk %}">(delete)</a></small>
                        {% endif %}
                    {% endif %}<br>
                    {{  post.snippet }}
                </li>
                <br>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% endblock %}



