{% extends 'base.html' %}


{% block title %} Edit Blog Post {% endblock %}
{% block content %}

<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <h1>
                Edit the Post
            </h1><br>
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                </form>
            </div>
            <br>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-sm-3">
            <button class="btn btn-primary">Update</button>
            <br>
        </div>
    </div>
</div>


{% endblock %}



